@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 252, 252, 252;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 252, 252, 252;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* card buildspace */

.card {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: rgb(35, 36, 36, 0.8);
  justify-content: center;
  position: sticky;
  top: 0;
}

.card img {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
  filter: brightness(0.5);
}

.card-content {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* theme  */



.container {
  height: 100%;
}

@media (min-width: 768px) {
  .sticky-div {
    position: sticky;
    top: 100px;
  }
}

/* animation of sidebar */

@media (max-width:1090px) {
  .navbar {
    border-bottom-left-radius: 100%;
    transition: all 0.4s ease;
  }
}


/* hamburger code */

.hamburger,
.bar {
  position: fixed;
}

.hamburger {
  display: block;
  top: 5%;
  right: 5%;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  border: 0;
  display: flex;
  justify-items: center;
  align-items: center;
  background: 0 0;

}

.bar {
  top: 3px;
  background: #f3efef;
  width: 100%;
  height: 3px;
  transition: all .3s ease-in;
}

#bar2 {
  top: 11px;
  width: 80%;
}

#bar3 {
  top: 19px;
  width: 60%;
}

.navigation.active {
  right: 10;
}

.hamburger.open #bar1 {
  background-color: #fff;
  transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open #bar2 {
  background-color: transparent;
}

.hamburger.open #bar3 {
  background-color: #fff;
  transform: rotate(-45deg) translate(6px, -5px);
  width: 100%;
}